@model ASP_MVC.Models.tblUsers

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>tblUsers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
